Repository DeanLuus22021994/docker_dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

.pre-commit-config.yaml:

# Pre-commit hooks for Docker Compose Examples
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Docker Compose validation
  - repo: local
    hooks:
      - id: validate-docker-compose
        name: Validate docker-compose.yml files
        entry: bash -c 'for f in $(find .docker-compose -name "docker-compose*.yml"); do docker compose -f $f config --quiet || exit 1; done'
        language: system
        pass_filenames: false
        files: '\.yml$'

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12
        files: '\.py$'

  # Python import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']
        files: '\.py$'

  # Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: ['--fix']
        files: '\.py$'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: 'Dockerfile.*|.*\.Dockerfile$'

  # Detect secrets and credentials
  - repo: local
    hooks:
      - id: detect-secrets-docker-compose
        name: Detect hardcoded secrets in docker-compose files
        entry: bash -c 'if grep -r -E "(password|secret|key|token).*[:=].*[\"'\''][^$]" .docker-compose --include="*.yml" --exclude="*example*"; then echo "‚ùå Found hardcoded secrets in docker-compose files!"; exit 1; fi'
        language: system
        pass_filenames: false
        files: '\.yml$'

  # Run validation script
  - repo: local
    hooks:
      - id: validate-stacks
        name: Run validate_stacks.py
        entry: python .docker-compose/validate_stacks.py
        language: system
        pass_filenames: false
        files: '\.yml$|\.py$'

docs: expand tools overview to ~100 lines with detailed explanations
  docs/tools.md
Due: none

docs: enhance tools.md with visual appeal and better formatting
  docs/tools.md
Due: none

config: streamline VS Code extensions to essential AI/official tools
  .vscode/extensions.json
Due: none

config: add profiling tools for AI agent integration
  .vscode/extensions.json
Due: none

feat: enhance devcontainer with comprehensive caching, features, and precompilation
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.dockerfile
  .devcontainer/devcontainer.json
Due: none

🚀 Ultra-optimize devcontainer for instant builds
  .benchmark/README.md
  .benchmark/analyze_benchmark.py
  .benchmark/analyze_benchmarks.py
  .benchmark/benchmark_config.yaml
  .benchmark/benchmark_config.yml
  .benchmark/requirements.txt
  .benchmark/results/benchmark_20251024_232513.json
  .devcontainer/devcontainer.dockerfile
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/benchmark.yml
  .vscode/tasks.json
  Makefile
  README.md
  build.sh
  docker-bake.hcl
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Complete Docker optimization with buildx/bake caching
  .compose/.env.development
  .compose/basic-stack/docker-compose.yml
  .compose/cluster-example/docker-compose.yml
  .compose/mcp/docker-compose.yml
  .compose/swarm-stack/docker-compose.yml
  .dockerfiles/node.Dockerfile
  .dockerfiles/python.Dockerfile
  .env.development
  docker-bake.hcl
  package.json
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Implement relative path build caching and optimize devcontainer
  .devcontainer/devcontainer.dockerfile
  .gitignore
  agent/config.py
  agent_app.py
  docker-bake.hcl
  tests/unit/test_config.py
Due: validate-stacks

feat: Add Redis, Nginx, MariaDB, and PostgreSQL Dockerfiles with caching
  .dockerfiles/conf.d/default.conf
  .dockerfiles/init/mariadb-init.sql
  .dockerfiles/init/postgresql-init.sql
  .dockerfiles/mariadb.Dockerfile
  .dockerfiles/mariadb.cnf
  .dockerfiles/my.cnf
  .dockerfiles/nginx.Dockerfile
  .dockerfiles/nginx.conf
  .dockerfiles/pg_hba.conf
  .dockerfiles/postgresql.Dockerfile
  .dockerfiles/postgresql.conf
  .dockerfiles/redis.Dockerfile
  .dockerfiles/redis.conf
  .dockerfiles/static/index.html
  docker-bake.hcl
Due: none

feat: Update .config YAML files for all stacks to include Redis, Nginx, MariaDB, PostgreSQL services
  .compose/swarm-stack/docker-compose.yml
  .config/basic-stack/config.yml
  .config/cluster-example/config.yml
  .config/swarm-stack/config.yml
  docker-bake.hcl
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: Cleanup codebase and fix configuration issues
  .compose/automate_stacks.py
  .compose/swarm-stack/docker-compose.yml
  .compose/validate_stacks.py
  Makefile
  automate.sh
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: replace Python automation with unified Bash tooling and standardize images
  .compose/automate.sh
  .compose/automate_stacks.py
  .compose/basic-stack/docker-compose.yml
  .compose/cluster-example/docker-compose.yml
  .compose/lib/common.sh
  .compose/observability/docker-compose.yml
  .compose/validate_stacks.py
  .dockerfiles/cadvisor.Dockerfile
  .dockerfiles/grafana.Dockerfile
  .dockerfiles/loki.Dockerfile
  .dockerfiles/node-exporter.Dockerfile
  .dockerfiles/prometheus.Dockerfile
  .dockerfiles/promtail.Dockerfile
  Makefile
  automate.sh
  build.sh
  status.sh
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: Resolve devcontainer build failure and complete Docker Compose standardization
  .devcontainer/devcontainer.dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: no-op commit (no code changes)
  .benchmark/analyze_benchmark.py
  .benchmark/analyze_benchmarks.py
  .copilot/README.md
  .copilot/ignore
  .copilot/instructions.md
  .copilot/performance-metrics.md
  .copilotignore
  agent/config.py
  agent_app.py
  test_auth.py
  tests/unit/test_config.py
Due: validate-stacks

fix: harden scripts and tooling — typing, encoding, subprocess safety, and dev deps
  .secrets/secrets.env
Due: none

chore(cluster): simplify devcontainer and docker-compose
  .devcontainer/devcontainer.dockerfile
  .devcontainer/devcontainer.json
  docker-compose.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Modern Data Platform v2.0 - Complete restructure with GPU, dual DBs, monitoring, AI integration
  .config/README.md
  .config/cluster.yml
  .config/test-suite.yml
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  .vscode/settings.json
  Makefile
  README.md
  docker-compose.yml
  dockerfile/configs/default.conf
  dockerfile/configs/mariadb.conf
  dockerfile/configs/nginx.conf
  dockerfile/configs/postgresql.conf
  dockerfile/github-mcp.Dockerfile
  dockerfile/grafana.Dockerfile
  dockerfile/jupyter.Dockerfile
  dockerfile/k9s.Dockerfile
  dockerfile/mariadb.Dockerfile
  dockerfile/minio.Dockerfile
  dockerfile/nginx.Dockerfile
  dockerfile/postgres.Dockerfile
  dockerfile/prometheus.Dockerfile
  dockerfile/redis.Dockerfile
  docs/architecture.md
  docs/deployment.md
  docs/troubleshooting.md
  monitoring/prometheus.yml
  pyproject.toml
  web-content/index.html
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Add .config directory with cluster and test-suite configurations
  .config/cluster.config.yml
  .config/cluster.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Complete local development provisioning with BuildKit, LocalStack, MailHog, pgAdmin, Redis Commander
  .config/cluster.config.yml
  .devcontainer/devcontainer.json
  Makefile
  README.md
  docker-compose.yml
  dockerfile/buildkit.Dockerfile
  dockerfile/configs/buildkitd.toml
  dockerfile/configs/localstack-init.sh
  dockerfile/configs/pgadmin-servers.json
  dockerfile/localstack.Dockerfile
  dockerfile/mailhog.Dockerfile
  dockerfile/pgadmin.Dockerfile
  dockerfile/redis-commander.Dockerfile
  web-content/index.html
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: update index.html to React entry point for dashboard
  web-content/index.html
Due: none

feat: Phase 1 - Security & Stability improvements
  TODO.md
  docker-compose.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Phase 2 - Docker secrets, resource limits, and logging
  docker-compose.yml
  secrets/.gitignore
  secrets/README.md
  secrets/mariadb_root_password.example.txt
  secrets/postgres_password.example.txt
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: Add Phase 2 deployment guide with verification steps
  docs/PHASE2-DEPLOYMENT.md
Due: none

docs: Add comprehensive resource allocation analysis and charts
  docs/RESOURCE-ALLOCATION.md
Due: none

docs: Update TODO.md marking Phase 1 & 2 as complete
  TODO.md
Due: none

feat: Phase 3 - Real Data Integration with Prometheus Exporters
  api/.dockerignore
  api/Dockerfile
  api/README.md
  api/package.json
  api/server.js
  docker-compose.yml
  docs/PHASE3-DEPLOYMENT.md
  monitoring/alerts/rules.yml
  monitoring/prometheus.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Phase 4 deployment and validation
  .devcontainer/devcontainer.json
  .dockerignore
  docker-compose.yml
  dockerfile/docker-api.Dockerfile
  docs/IMPLEMENTATION-SUMMARY.md
  monitoring/prometheus.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: Phase 4 completion report
  docs/PHASE4-COMPLETION.md
Due: none

feat: Complete all enhancements - Alertmanager, Grafana dashboards, Docker API integration, CI/CD pipeline
  .github/workflows/ci.yml
  docker-compose.yml
  monitoring/alertmanager.yml
  monitoring/dashboards/containers.json
  monitoring/dashboards/host.json
  monitoring/dashboards/postgresql.json
  monitoring/dashboards/redis.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  web-content/src/hooks/useClusterHealth.ts
  web-content/src/hooks/useClusterMetrics.ts
  web-content/src/services/dockerAPI.ts
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: Add comprehensive enhancements completion summary
  ENHANCEMENTS-COMPLETE.md
Due: none

feat: Integrate environment variables for CI/CD and devcontainer
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .vscode/settings.json
  ENVIRONMENT-INTEGRATION-COMPLETE.md
  docker-compose.yml
  docs/ENVIRONMENT_SETUP.md
  scripts/start_devcontainer.ps1
  scripts/start_devcontainer.sh
  scripts/test_integration.ps1
  scripts/validate_env.ps1
  scripts/validate_env.py
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: Add missing comma in settings.json
  .vscode/settings.json
Due: none

feat: complete Phases 4-8 - cleanup, pre-commit, validation pipeline, docs
  .config/docker/README.md
  .config/docker/buildkit.toml
  .github/TODO.md
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  README.md
  docker-compose.yml
  dockerfile/configs/buildkitd.toml
  dockerfile/configs/default.conf
  dockerfile/configs/localstack-init.sh
  dockerfile/configs/mariadb.conf
  dockerfile/configs/nginx.conf
  dockerfile/configs/pgadmin-servers.json
  dockerfile/configs/postgresql.conf
  dockerfile/pre-commit.Dockerfile
  nginx.conf
  scripts/validate_configs.py
  secrets/.gitignore
  secrets/README.md
  secrets/mariadb_root_password.example.txt
  secrets/postgres_password.example.txt
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: configure environment, workflows, and setup automation
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/validate.yml
  SETUP.md
  scripts/setup_secrets.ps1
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat(config): implement GitHub repository configuration-as-code
  .config/github/README.md
  .config/github/actions.yml
  .config/github/branch-protection.yml
  .config/github/code-security.yml
  .config/github/repository.yml
  .config/github/secrets.yml
  .github/CODEOWNERS
  .github/workflows/codeql.yml
  SECURITY.md
  scripts/apply-settings.ps1
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

chore(cleanup): Phase 1 Task 1.1 - Code quality audit complete
  .config/jekyll.config.yml
  .github/TODO.md
  .github/archive/TODO-v2.0-20251025.md
  CLEANUP-REPORT.md
  web-content/ARCHITECTURE.md
  web-content/IMPLEMENTATION.md
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs(todo): mark Phase 1 Task 1.1 as complete
  .github/TODO.md
Due: none
