Repository DeanLuus22021994/docker_dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

validate-docker-compose:
  name: Validate docker-compose.yml files
  entry: bash -c 'for f in $(find .docker-compose -name "docker-compose*.yml"); do docker compose -f $f config --quiet || exit 1; done'
  language: system
  pass_filenames: false

detect-secrets-docker-compose:
  name: Detect hardcoded secrets in docker-compose files
  entry: bash -c 'if grep -r -E "(password|secret|key|token).*[:=].*[\"'\''][^$]" .docker-compose --include="*.yml" --exclude="*example*"; then echo "‚ùå Found hardcoded secrets in docker-compose files!"; exit 1; fi'
  language: system
  ...

validate-stacks:
  name: Run validate_stacks.py
  entry: python .docker-compose/validate_stacks.py
  language: system
  pass_filenames: false

Implement remaining changes: parallel test execution with pytest-xdist, circuit breaker pattern in link checker service
  .docker-compose/mcp/python_utils/docker_examples_utils/services/link_checker.py
  .docker-compose/mcp/python_utils/pyproject.toml
Due: validate-stacks

Update DEVELOPMENT.md to mark remaining items as completed
  .docker-compose/DEVELOPMENT.md
Due: none

Fix syntax errors and type checking issues: remove duplicate docstring, add missing imports, fix deprecated st_ctime usage
  .docker-compose/mcp/python_utils/docker_examples_utils/services/component_inventory.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/file_operations.py
Due: validate-stacks

Fix test imports and Python interpreter configuration
  .docker-compose/mcp/python_utils/simple_test.py
  .docker-compose/mcp/python_utils/tests/conftest.py
Due: validate-stacks

Clean up: Remove temporary test file
  .docker-compose/mcp/python_utils/simple_test.py
  .vscode/settings.json
Due: validate-stacks

Track all files: Remove restrictive .gitignore and add previously ignored files
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/PKG-INFO
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/SOURCES.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/dependency_links.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/entry_points.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/requires.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/top_level.txt
  .env
  .env.development
  .env.docker
  .env.production
  .gitignore
  .gitignore.backup
  .vscode/settings.json
  secrets/db_password.txt
Due: none

Improve .gitignore with standard Python exclusions to permanently exclude generated files like __pycache__, *.egg-info, and build artifacts
  .gitignore
Due: none

Enhance VS Code settings for full portability and containerization best practices: use workspace-relative Python path, enable auto-discovery with exclusions, add extra paths for import resolution
  .vscode/settings.json
Due: none

Clean up: remove generated Python artifacts and package metadata
  .docker-compose/mcp/python_utils/__pycache__/__init__.cpython-314.pyc
  .docker-compose/mcp/python_utils/__pycache__/doc_utils.cpython-314.pyc
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/PKG-INFO
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/SOURCES.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/dependency_links.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/entry_points.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/requires.txt
  .docker-compose/mcp/python_utils/docker_compose_utils.egg-info/top_level.txt
  .docker-compose/mcp/python_utils/react_scuba/python_utils/cli/__init__.py
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/PKG-INFO
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/SOURCES.txt
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/dependency_links.txt
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/entry_points.txt
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/requires.txt
  .docker-compose/mcp/python_utils/react_scuba_utils.egg-info/top_level.txt
  .docker-compose/mcp/python_utils/tests/__pycache__/api_mock.cpython-314.pyc
  .docker-compose/mcp/python_utils/tests/__pycache__/conftest.cpython-314-pytest-8.4.2.pyc
  .docker-compose/mcp/python_utils/tests/__pycache__/database_mock.cpython-314.pyc
  .docker-compose/mcp/python_utils/tests/__pycache__/redis_mock.cpython-314.pyc
  .gitignore.backup
Due: validate-stacks

Fix all Pylance errors: resolve private usage, constant redefinition, deprecated API, missing imports, and unknown types with proper type annotations and safe attribute access
  .docker-compose/mcp/python_utils/__init__.py
  .docker-compose/mcp/python_utils/doc_utils.py
  .docker-compose/mcp/python_utils/docker_examples_utils/config/settings.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/component_inventory.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/file_operations.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/link_checker.py
  .vscode/settings.json
Due: validate-stacks

Fix all Pylance errors: conditional imports, type annotations, safe attribute access
  .docker-compose/mcp/python_utils/doc_utils.py
  .docker-compose/mcp/python_utils/docker_examples_utils/api.py
Due: validate-stacks

Decompose doc_utils.py into modular files: models/, services/, cli/
  .docker-compose/mcp/python_utils/__init__.py
  .docker-compose/mcp/python_utils/cli/__init__.py
  .docker-compose/mcp/python_utils/cli/doc_utils_cli.py
  .docker-compose/mcp/python_utils/models/__init__.py
  .docker-compose/mcp/python_utils/models/link_models.py
  .docker-compose/mcp/python_utils/services/__init__.py
  .docker-compose/mcp/python_utils/services/doc_utils_service.py
Due: validate-stacks

Refactor python_utils: consolidate duplicate implementations, use existing docker_examples_utils services, remove redundancy
  .docker-compose/mcp/python_utils/__init__.py
  .docker-compose/mcp/python_utils/cli/doc_utils_cli.py
  .docker-compose/mcp/python_utils/docker_examples_utils/core/utils.py
  .docker-compose/mcp/python_utils/models/__init__.py
  .docker-compose/mcp/python_utils/models/link_models.py
  .docker-compose/mcp/python_utils/services/__init__.py
  .docker-compose/mcp/python_utils/services/doc_utils_service.py
Due: validate-stacks

Fix linter errors in unit tests
  .docker-compose/mcp/python_utils/__init__.py
  .docker-compose/mcp/python_utils/cli/doc_utils_cli.py
  .docker-compose/mcp/python_utils/docker_examples_utils/api.py
  .docker-compose/mcp/python_utils/tests/test_component_inventory.py
  .docker-compose/mcp/python_utils/tests/test_file_operations.py
  .docker-compose/mcp/python_utils/tests/test_link_checker.py
Due: validate-stacks

Fix remaining type annotation issue in test_link_checker.py
  .docker-compose/mcp/python_utils/tests/test_link_checker.py
Due: validate-stacks

Add Redis/Postgres stacks, security middleware, request models, CLI improvements, docs and tests updates
  .docker-compose/README.md
  .docker-compose/basic-stack/docker-compose.yml
  .docker-compose/basic-stack/dockerfiles/redis.Dockerfile
  .docker-compose/basic-stack/dockerfiles/redis.conf
  .docker-compose/cluster-example/docker-compose.yml
  .docker-compose/cluster-example/dockerfiles/redis.Dockerfile
  .docker-compose/cluster-example/dockerfiles/redis.conf
  .docker-compose/mcp/DEVELOPMENT.md
  .docker-compose/mcp/python_utils/cli/doc_utils_cli.py
  .docker-compose/mcp/python_utils/docker-compose.yml
  .docker-compose/mcp/python_utils/docker_examples_utils/api.py
  .docker-compose/mcp/python_utils/docker_examples_utils/config/config.py
  .docker-compose/mcp/python_utils/docker_examples_utils/core/security.py
  .docker-compose/mcp/python_utils/docker_examples_utils/models/models.py
  .docker-compose/mcp/python_utils/dockerfiles/postgres.Dockerfile
  .docker-compose/mcp/python_utils/dockerfiles/postgresql.conf
  .docker-compose/mcp/python_utils/dockerfiles/redis.Dockerfile
  .docker-compose/mcp/python_utils/dockerfiles/redis.conf
  .docker-compose/mcp/python_utils/pyproject.toml
  .docker-compose/mcp/python_utils/tests/api_mock.py
  .docker-compose/mcp/python_utils/tests/conftest.py
  .docker-compose/mcp/python_utils/tests/database_mock.py
  .docker-compose/mcp/python_utils/tests/redis_mock.py
  .docker-compose/mcp/python_utils/tests/test_api.py
  .docker-compose/mcp/python_utils/tests/test_cli_integration.py
  .docker-compose/mcp/python_utils/tests/test_config.py
  .docker-compose/mcp/python_utils/tests/test_mocks.py
  .docker-compose/swarm-stack/docker-compose.yml
  .docker-compose/swarm-stack/dockerfiles/redis.Dockerfile
  .docker-compose/swarm-stack/dockerfiles/redis.conf
  docs/architecture.md
  docs/deployment.md
  docs/troubleshooting.md
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: update basic-stack README for enterprise security features
  .docker-compose/basic-stack/README.md
Due: none

docs: add comprehensive table of contents YAML file
  .config/toc.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: enhance table of contents metadata with comprehensive implementation details
  .config/toc.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: decompose table of contents into modular docs subfolder structure
  .config/docs/categories.yml
  .config/docs/index.yml
  .config/docs/metadata.yml
  .config/docs/quick-access.yml
  .config/docs/toc.yml
  .config/toc.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: remove redundancies and clean up documentation structure
  .config/docs/categories.yml
  .config/docs/index.yml
  .config/docs/metadata.yml
  .config/docs/toc.yml
  .config/toc.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: implement YAML subdirectories for each stack in config root
  .config/basic-stack/config.yml
  .config/cluster-example/config.yml
  .config/docs/index.yml
  .config/mcp/config.yml
  .config/swarm-stack/config.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: relocate generated compose files to compose/ and update configs, tooling & utils
  .config/docs/index.yml
  .config/mcp/config.yml
  .docker-compose/mcp/python_utils/__init__.py
  .docker-compose/mcp/python_utils/cli/__init__.py
  .docker-compose/mcp/python_utils/cli/doc_utils_cli.py
  .docker-compose/mcp/python_utils/docker_examples_utils/api.py
  .docker-compose/mcp/python_utils/docker_examples_utils/cli/main.py
  .docker-compose/mcp/python_utils/docker_examples_utils/config/config.py
  .docker-compose/mcp/python_utils/docker_examples_utils/core/security.py
  .docker-compose/mcp/python_utils/docker_examples_utils/models/models.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/component_inventory.py
  .docker-compose/mcp/python_utils/docker_examples_utils/services/link_checker.py
  .docker-compose/mcp/python_utils/pyproject.toml
  .docker-compose/mcp/python_utils/tests/test_api.py
  .docker-compose/mcp/python_utils/tests/test_cli_integration.py
  .docker-compose/mcp/python_utils/tests/test_component_inventory.py
  .docker-compose/mcp/python_utils/tests/test_config.py
  .docker-compose/mcp/python_utils/tests/test_file_operations.py
  .docker-compose/mcp/python_utils/tests/test_link_checker.py
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  compose/basic-stack/docker-compose.yml
  compose/cluster-example/docker-compose.yml
  compose/mcp/docker-compose.yml
  compose/swarm-stack/docker-compose.yml
  pyproject.toml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

Refactor: Align .config for config-driven CI/CD automation
  .config/basic-stack/config.yml
  .config/cluster-example/config.yml
  .config/mcp/config.yml
  .config/swarm-stack/config.yml
  AGENT.md
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: further optimize codebase for agent development
  .compose/basic-stack/docker-compose.yml
  .compose/cluster-example/docker-compose.yml
  .compose/swarm-stack/docker-compose.yml
  .config/basic-stack/config.yml
  .config/cluster-example/config.yml
  .config/swarm-stack/config.yml
  .dockerignore
  .docs/deployment.md
  .env
  .env/.env.development
  .env/.env.docker
  .env/.env.example
  .env/.env.production
  .env/README.md
  .github/TODO.md
  .github/copilot-instructions.md
  .gitignore
  .secrets/.env.template
  .secrets/.gitignore
  .secrets/README.md
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  AGENT.md
  secrets/.secrets.example
  secrets/README.md
  secrets/db_password.txt
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: Implement GitHub Copilot Native Agent with Docker PAT authentication
  .config/agent/config.yml
  .github/copilot-instructions.md
  .github/workflows/agent-ci.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  agent_app.py
  pyproject.toml
  test_auth.py
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: configure CI/CD pipeline for production deployment
  .compose/basic-stack/docker-compose.yml
  .config/agent/config.yml
  .github/workflows/agent-ci.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: revise workflows for main-branch-only automation
  .github/workflows/agent-ci.yml
  .github/workflows/build-test.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-stacks.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

feat: decompose workflows into single-function workflows
  .github/workflows/agent-ci.yml
  .github/workflows/agent-deployment.yml
  .github/workflows/agent-integration-test.yml
  .github/workflows/agent-validation.yml
  .github/workflows/performance-test.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: remove pull_request triggers from main-branch workflows
  .github/workflows/build-test.yml
  .github/workflows/security-scan.yml
  .github/workflows/validate-stacks.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

refactor: standardize and normalize workflow structure
  .github/workflows/agent-ci.yml
  .github/workflows/agent-performance-test.yml
  .github/workflows/docker-build-test.yml
  .github/workflows/docker-compose-validation.yml
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

fix: remove scuba references from GitHub Actions runner config
  .compose/github-actions-runner/.env
Due: none

docs: reorganize and standardize documentation in docs/ folder
  .config/docs/categories.yml
  docs/TODO.md
  docs/architecture.md
  docs/compose/CHANGELOG.md
  docs/compose/DEVELOPMENT.md
  docs/compose/README.md
  docs/compose/TESTING.md
  docs/compose/github-actions-runner/README.md
  docs/compose/observability/README.md
  docs/deployment.md
  docs/environment/README.md
  docs/github/copilot-instructions.md
  docs/security/README.md
  docs/troubleshooting.md
Due: validate-docker-compose, detect-secrets-docker-compose, validate-stacks

docs: reorganize agent documentation and enhance Copilot instructions
  .github/copilot-instructions.md
  .github/instructions/agent.instructions.md
  docs/agent/AGENT.md
  docs/github/copilot-instructions.md
Due: none

refactor: sort imports in agent_app.py for code standardization
  agent_app.py
Due: validate-stacks

docs: update VS Code extensions guidelines and mark deprecated extensions
  .github/copilot-instructions.md
  agent_app.py
Due: validate-stacks

docs: add brief tools overview for Docker Compose and AI agent operations
  docs/tools.md
Due: none

Path conditions:
  validate-docker-compose: any of: \.yml$
  detect-secrets-docker-compose: any of: \.yml$
  validate-stacks: any of: \.yml$|\.py$
